/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.banniere{
	background-color: black;
	width: 100%;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
    top: 0px;
    left: 0px;
}

.banniere + header{
	margin-top:109px;
}

.banniere .mode-edition{
	color: rgb(255, 255, 255);	
	font-size: 14px;
	margin-right: 21px;
	
}

.banniere .publication-change{
	background-color: rgb(255, 255, 255);
	width: 216px;
	height: 38px;
	border-radius: 60px;
	font-size: 14px;

	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

a.title{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	text-decoration: none;
}

.hidden{
	display: none !important;
}

a.title > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}
.edit-texte{
	margin-bottom: 20px;
}

.project{
	display: flex;
	justify-content: center;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.project #edit-modal{
	margin: 10px 21px;
	font-size: 14px;
	cursor: pointer;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li.active{
	font-weight: 700;
}

li:hover {
	color: #B1663C;
}

li img{
	width: 20px;
	height: 20px;
}

li a{
	text-decoration: none;
	color: black;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.button-rounded{
	display: flex;
	justify-content: center;
	margin: 51px;
}

.button-rounded span{
	margin-right: 10px;
	padding: 9px 20px;

	color: #1D6154;
	font-family: 'Syne';
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	border: 1px solid #1D6154;
	border-radius: 60px;

	display: flex;
	text-align: center;
	justify-content: space-around;
	align-items: center;
}

.button-rounded span:hover, .button-rounded span.active{
	background-color: #1D6154;
	color: white;
}

.bg-green{
	background-color: #1D6154 !important;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}


.gallery img {
	width: 100%;
}

.categories .category span{
	cursor: pointer;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 8px 9px;
}

input{
	padding: 0 15px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

